.container{
display: flex;
flex-direction: column;
flex:1;
border-radius:5px ;
padding: 32px;
margin: 16px;
background:rgba(255, 255, 255, 0.17) ;
box-shadow:0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.51);
height: 80vh;
width: 70vw;
max-width: 75%;
max-height: 95vh;
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);

}

.teste{
    position: relative;
    display: flex;
    flex: 1;
    height: 80%;
    border-radius: 5px;
    padding: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    flex-direction: column;
    border-radius: 5px;
    padding: 16px;
}

.text{
width: 100%;
border:0 ;
resize: none;
border-radius: 5px;
padding:6px 8px ;
margin-right: 12px;
}
  









