

html,
body {
    margin: 0; 
    padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

/*   
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1b161d;
    border-radius: 10px;
    border: 3px none #ffffff;
  } */

  *::-webkit-scrollbar {
    width: 0.5rem;               /* width of the entire scrollbar */
}
* ::-webkit-scrollbar-track {
  background: #313D49;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #29333D;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #101418;  /* creates padding around scroll thumb */ 
}


